<!DOCTYPE html>
<html>
<head>
	<title>Limbungan, Xeno</title>


</head>
<body background="img/main.jpg">
<style>
	body{
		background:url("img/main.jpg");
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;

</style> 
<center>
<font face="Chiller" size="100">
<h1>THE CHUCKY SERIES</h1>
</font>
<font face="Chiller" size="70" color="white">
<br>
<a href="/partone">Bride of Chucky</a>
<p><a href="/parttwo">Seed of Chucky</a></p>
<p><a href="/partthree">Curse of Chucky</a></p>
<p><a href="/partfour">Cult of Chucky</a></p>
</center>
</font>
</body>
</html>