<!DOCTYPE html>
<html>
<head>
	<title>Limbungan, Xeno</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/partfour.css">
	<style>
		body
		{
	background-image: url("img/Chucky Childs Play.jpg")
		}
		body
		{
	font-family: "Arial";
	color:#ffffff;
	background-color: "#000000";
		}

	</style>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript" src="js/partfour.js"></script>
</body>
</html>